body{
    background:tan;
}

.main
{ width:400px;
margin: 0 auto;
}

img{
width:100%;
border-radius: 25px;
box-shadow: 4px 6px black;
}

h1{
    color:white;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 2px 2px black;
}
   

